<!DOCTYPE html>
<!--use ip/count to count adresses-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usercounter</title>
    <link rel="shortcut icon" href="/ico.png">
    <link rel="apple-touch-icon" href="/ico.png" />
    <link rel="stylesheet" href="/all.min.css">

</head>
<body>
    <h1>Usercounter</h1>
    <h2>Count number: {{connections}}<img src="/ico.png" height="20"></h2><p><a href="https://github.com/Sharkbyteprojects/usercounter#usercounter-lts" target="_blank">Readme</a></p><p><a href="https://github.com/Sharkbyteprojects/usercounter#api" target="_blank">Read the API Documentation</a></p>
    <p>To embed informations can you embed the <a href="/">Embed</a> page or you use the <a href="/raw">raw data</a> (to read through your own applications)<hr><a href="/count">Count UP</a> (TO EMBED THE LINK)</p><p>This page is not to embed!</p>
</body>
</html>