<!DOCTYPE html>
<!--use ip/count to count adresses-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONNECTION COUNT</title>
    <link rel="shortcut icon" href="/ico.png">
    <link rel="apple-touch-icon" href="/ico.png" />

</head>
<body>
    <h2>{{connections}}  <img src="/ico.png" height="20"></h2>
</body>
</html>